[package]
name = "utils"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = { workspace = true }
colored = { workspace = true }
fs_extra = { workspace = true }
lazy_static = { workspace = true }
tracing = { workspace = true }